#header{
    background-color: salmon;
    font-size: 24pt;
    border-top-width: 100%;
    border-right-width: 100%;
    border-top-width: 100%;
    margin-left:25%;
    margin-right: 25%;
    text-align: center;
}
body{
    background-color:grey;
}
#headerCenter{
    background-color: darkslateblue;
    color:white;
    border-radius: 10px;
    font-size: 24pt;
    border-style:solid;
    border-top-width: 100%;
    border-right-width: 100%;
    border-top-width: 100%;
    margin-left:25%;
    margin-right: 25%;
    text-align: center;
}